/* CSS Variables para cores*/
:root {
    --text-color: #2c3e50;
    --background-color: #ffffff;
}


/* Dark mode support */
@media (prefers-color-scheme: dark) {
    :root {
    --text-color: #ecf0f1;
    --background-color: #12161a;
}
}

/* reset e configurações básicas */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: "Inter", sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center; /* Centraliza os itens filhos */
     min-height: 100vh;
     color: var(--text-color);
     background-color: var(--background-color);
     background-image: url(./img/background.jpeg);
     background-size: cover;
}

main {
    width: 90%; /* Ou um valor fixo como 800px */
    max-width: 900px;
    /* main agora conterá os articles */
gap: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
}

.artigos {
    display: flex;
    padding: 15px;
    gap: 50px;
    line-height: 1.3;
}

article {
    padding: 15px;
    background-color: #f0e4e4;
    color: #12161a;
    border-radius: 5px;
}

h1 {
    padding-top: 15px;
    font-family: "Dancing Script", system-ui;
    font-weight: 600;
    font-style: normal;
}

h2 {
    font-weight: 300;
    padding: 3px;
    font-family: "Manufacturing Consent", system-ui;
}

.data-artigo {
    font-size: 11px;
    padding-top: 5px;
}

.footer-artigo {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-content: end;
}

header {
    /* justify-items: center; */
}

button {
    background: #14191c;
    background: linear-gradient(90deg, rgba(20, 25, 28, 1) 30%, rgba(31, 31, 33, 1) 55%, rgba(0, 0, 0, 1) 89%);
    color: #ffffff;
    padding: 9px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}
